.nav{
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__img{
    object-fit: contain;
  }
  &__logo{
    position: relative;
    transform: translateY(-50%);
    top:50%;
    width: 80px;
    left: 20px;
  }
  &__icon{
    top: 50%;
    width: 30px;
    transform: translateY(-50%);
    position: relative;
    right: 20px;
  }
  &__shown{
    background: #000;
    transition: background 500ms;
  }
}